.showid {
    background-color: aliceblue;
    max-height: 70px;
    border: black solid 2px;
    border-radius: 20px;
    line-height: 9px;
    display: flex;
    justify-content: center;
    padding: 7px;
}