button:hover {
    background-color: azure;
}

.number {
    background: #cccccc;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-left: 8px;
    text-align: center;
    width: 1.6em;
}
